.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-text {
  position: absolute;
  top: 38%;
  left: 44%;
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

.hero-text h1 {
  border-bottom: 1.5px solid #99ddda;
  font-family: "dancing script";
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0.2rem;
}

.hero-text p {
  font-size: 1rem;
}

.socials {
  margin: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  margin: 0rem 0.2rem;
  transition-duration: 0.6s;
  color: white;
}

.socials a:hover {
  margin: 0rem 0.2rem;
  scale: 118%;
  transition-duration: 0.6s;
  color: #d6b1f7;
}
