#main {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#main img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.text-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

.text-container h1 {
  font-family: "dancing script";
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 25px;
}

.text-container p {
  font-size: 1rem;
}

.socials {
  position: relative;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  margin: 0rem 0.3rem;
  transition-duration: 0.6s;
  color: white;
}

.socials a:hover {
  margin: 0rem 0.3rem;
  scale: 118%;
  color: #d6b1f7;
  transition-duration: 0.6s;
}

.name-top {
  position: absolute;
  bottom: 9.9rem;
  height: 3px;
  width: 340px;
  background-color: #99ddda;
}

.name-bottom {
  position: absolute;
  bottom: 6rem;
  height: 3px;
  width: 340px;
  background-color: #99ddda;
}

.name-left {
  position: absolute;
  bottom: 7.8rem;
  right: 10.4rem;
  height: 5px;
  width: 12px;
  background-color: white;
}

.name-right {
  position: absolute;
  bottom: 7.8rem;
  left: 10.4rem;
  height: 5px;
  width: 12px;
  background-color: white;
}

@media screen and (max-width: 950px) {
  .text-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    text-align: center;
  }

  .text-container h1 {
    font-family: "dancing script";
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 25px;
  }

  .text-container p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .text-container h1 {
    font-family: "dancing script";
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 450px) {
  .text-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    text-align: center;
  }

  .text-container h1 {
    font-family: "dancing script";
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 25px;
  }

  .text-container p {
    font-size: 0.9rem;
  }

  .name-top {
    position: absolute;
    bottom: 9.2rem;
    height: 3px;
    width: 270px;
    background-color: #99ddda;
  }

  .name-bottom {
    position: absolute;
    bottom: 5.7rem;
    height: 3px;
    width: 270px;
    background-color: #99ddda;
  }

  .name-left {
    position: absolute;
    bottom: 7.3rem;
    right: 8.8rem;
    height: 5px;
    width: 12px;
    background-color: white;
  }

  .name-right {
    position: absolute;
    bottom: 7.3rem;
    left: 8.8rem;
    height: 5px;
    width: 12px;
    background-color: white;
  }
}
