.work {
  width: 100%;
  max-width: 1040px;
  margin: auto;
  margin-top: 3rem;
  padding: 3rem 4rem;
}

.work h1 {
  text-align: center;
  margin: 2rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 550px){
  .work {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    margin-top: 3rem;
    padding: 2rem 1.4rem;
  }
  
  .work h1 {
    text-align: center;
    margin: 2rem;
    margin-bottom: 3rem;
  }
}